In [1]:
import pandas as pd

In [2]:
pd.read_excel("data/lbnl_building_74_electricity_data.xlsx")

                Timestamp  Building 74 - kWh Total Electricity (kWh)
0     2014-01-01 00:30:00                                   22.81250
1     2014-01-01 00:45:00                                   24.66500
2     2014-01-01 01:00:00                                   24.17250
3     2014-01-01 01:15:00                                   24.95000
4     2014-01-01 01:30:00                                   23.61750
5     2014-01-01 01:45:00                                   23.74250
6     2014-01-01 02:00:00                                   24.77250
7     2014-01-01 02:15:00                                   23.44750
8     2014-01-01 02:30:00                                   24.49750
9     2014-01-01 02:45:00                                   24.41750
10    2014-01-01 03:00:00                                   24.04750
11    2014-01-01 03:15:00                                   23.08500
12    2014-01-01 03:30:00                                   23.77500
13    2014-01-01 03:45:00                                   24.96250
14    2014-01-01 04:00:00                                   24.43250
15    2014-01-01 04:15:00                                   24.96750
16    2014-01-01 04:30:00                                   22.83500
17    2014-01-01 04:45:00                                   23.29750
18    2014-01-01 05:00:00                                   23.66250
19    2014-01-01 05:15:00                                   24.42250
20    2014-01-01 05:30:00                                   21.91000
21    2014-01-01 05:45:00                                   24.28500
22    2014-01-01 06:00:00                                   25.43000
23    2014-01-01 06:15:00                                   28.48500
24    2014-01-01 06:30:00                                   29.59750
25    2014-01-01 06:45:00                                   28.38250
26    2014-01-01 07:00:00                                   26.80750
27    2014-01-01 07:15:00                                   27.91000
28    2014-01-01 07:30:00                                   24.05750
29    2014-01-01 07:45:00                                   27.73000
...                   ...                                        ...
46081 2015-06-30 16:30:00                                   63.03200
46082 2015-06-30 16:45:00                                   54.94390
46083 2015-06-30 17:00:00                                   44.99202
46084 2015-06-30 17:15:00                                   46.03200
46085 2015-06-30 17:30:00                                   50.03201
46086 2015-06-30 17:45:00                                   42.96788
46087 2015-06-30 18:00:00                                   47.00800
46088 2015-06-30 18:15:00                                   53.00767
46089 2015-06-30 18:30:00                                   37.97601
46090 2015-06-30 18:45:00                                   42.03200
46091 2015-06-30 19:00:00                                   47.99200
46092 2015-06-30 19:15:00                                   48.01600
46093 2015-06-30 19:30:00                                   51.99200
46094 2015-06-30 19:45:00                                   51.95200
46095 2015-06-30 20:00:00                                   47.01600
46096 2015-06-30 20:15:00                                   40.01600
46097 2015-06-30 20:30:00                                   38.97600
46098 2015-06-30 20:45:00                                   38.01600
46099 2015-06-30 21:00:00                                   34.01600
46100 2015-06-30 21:15:00                                   35.00000
46101 2015-06-30 21:30:00                                   33.97600
46102 2015-06-30 21:45:00                                   33.01600
46103 2015-06-30 22:00:00                                   35.01596
46104 2015-06-30 22:15:00                                   30.95992
46105 2015-06-30 22:30:00                                   32.04000
46106 2015-06-30 22:45:00                                   35.97594
46107 2015-06-30 23:00:00                                   29.00007
46108 2015-06-30 23:15:00                                   31.00000
46109 2015-06-30 23:30:00                                   30.01600
46110 2015-06-30 23:45:00                                   31.97600

[46111 rows x 2 columns]